extends layout 

block content 
    h1= title 

    p #[strong Name: ] #{carparts_detail.name}
    p #[strong Make: ] #{carparts_detail.make.name}
    p #[strong Model: ] #{carparts_detail.make.model}
    p #[strong Year: ] #{carparts_detail.make.year}

    h3 #[strong Stock: ] #{carparts_detail.stock}
    h3 #[Strong Price: ] #{carparts_detail.price}

    div.img-class
        img(src=`/images/${carparts_detail.image}`, alt="")

    hr
    p
        a(href=carparts_detail.url+'/delete') Delete Part
    hr
    p 
        a(href=carparts_detail.url+'/update') Update Part 